// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top:40px;
}

.message {
  .details {
    .author-email, .timestamp {
      float:right;
      margin-left:10px;
    }
  }
}