<div class="row message">
  <div class="seven columns alpha content">
    {{ message.content }}
  </div>
  <div class="four columns offset-by-one omega details">
    <div class="author-email">
      {{ message.user.email }}
    </div>
    <div class="timestamp">
      {{ message.timestamp }}
    </div>
  </div>
</div>